.resume-outer {
    width: 98%;
    float: left;
    margin: 10px;
}

.resume-card {
    float: left;
    position: relative;
    margin: 0 2.5% 20px 0;

    width: 95%;
    padding: 5px;
    box-shadow: 0 5px 15px 0 rgba(37, 44, 97, .15);
}

.resume-header1 {
    display: block;
    text-align: left;
    outline: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.resume-profile {
    display: block;
    text-align: left;
    margin: 0 0 25px 50px;
    font-family: 'Oswald', sans-serif;
}

.title {
    background-image: linear-gradient(to right, #f0f0f0, #fff, #f0f0f0);
}

company {
    display: block;
    min-height: 25px;
    font-family: 'Oswald', sans-serif;
}

company name {
    float: left;
    text-align: left;
    font-size: 18px;
    font-weight: 800;
    margin-left: 20px;
    text-transform: uppercase;
}

company location {
    float: right;
    text-align: right;
    margin-left: 20px;
}

company dates {
    float: right;
    text-align: right;
    margin-left: 20px;
}

company position {
    float: left;
    text-align: left;
    margin-left: 40px;
}

company url {
    float: right;
    text-align: right;
    margin-left: 20px;
}


client {
    display: block;
    min-height: 25px;
    font-family: 'Oswald', sans-serif;
}

client name {
    display: block;
    font-weight: 800;
    margin-left: 60px;
}


client position {
    display: block;
    text-align: left;
    margin-left: 60px;
}

client summary {
    display: block;
    text-align: left;
    margin-left: 40px;
}

client project name {
    margin-left: 80px;
}

client project summary {
    margin-left: 80px;
    margin-bottom: 10px;
}

summary a:link {
    color: #333363;
    text-decoration: none;
}

summary a:visited {
    color: #333363;
    text-decoration: none;
}

summary a:hover {
    color: blue;
    text-decoration: underline;
}

name a:link {
    color: #333363;
    text-decoration: none;
}

name a:visited {
    color: #333363;
    text-decoration: none;
}

name a:hover {
    color: blue;
    text-decoration: underline;
}

url a:link {
    color: #333363;
    text-decoration: none;
}


url a:visited {
    color: #333363;
    text-decoration: none;
}

url a:hover {
    color: blue;
    text-decoration: underline;
}

