.blog-card {
    float: left;
    position: relative;
    margin: 0 0 35px 0px;
    min-height: 40px;
    width: 100%;
    padding: 5px;
    box-shadow: 0 5px 15px 0 rgba(37,44,97,.15);
    white-space: nowrap;
}

.nav_a {
    display: block;
    text-align: left;
    outline: none;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;

}

.date {
    padding-top: 5px;
}

.column {
    display: inline-block;
    vertical-align: text-top;
    padding: 0 5px;
}