
.logo {
    text-align: center;
    margin: 30px 0 0;
}
.title {
    display: none
}
.img {
    width: auto;
    height: auto;
}


.s_logo {
    margin: 0
}

.s_title {
    color: #fff;
    display: block;
    /*font-family: 'Oswald', sans-serif;*/
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    float: left;
    width: 80%;
    text-align: left;
    padding: 13px 0 13px 15px;
}

.s_img {
    display: none
}
